.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

form {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: blueviolet;
  color: white;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 3px;
  transition: 0.5s all ease;
}

button:hover {
  background-color: rgb(171, 108, 230);
}

.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.movieCard {
  background-color: rgb(165, 84, 241);
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 2px 4px black;
}

.movieCard img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.movieCard h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.movieCard p {
  font-size: 14px;
  margin-bottom: 5px;
}
